<!--<footer class="mainfooter navbar navbar-default fixed-bottom navbar-fixed-bottom navbar-static-bottom" role="contentinfo">-->
<!--            <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                    <p class="text-center">-->
<!--                        Made at the expense of @draguve's sanity-->
<!--                        <a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>-->
<!--                        <a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-instagram"></i></a>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        Made at the expense of @draguve's sanity<br>
        <a href="https://github.com/draguve" title="Github"><i class="fa fa-github"></i></a>
        <a href="https://www.instagram.com/draguve/" title="Instagram"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/draguve" title="Twitter"><i class="fa fa-twitter"></i></a>
    </div>
    <!-- Copyright -->

</footer>