{% extends "default.html" %}

{% block header %}
<title>{{ title }}</title>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<style>
    #header{
        margin-top: 30px ;
    }

    #card{
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <nav class="navbar navbar-light justify-content-between" id="header">
        <div class="row">
            <div class="col-md-9">
                <a href="/" class="navbar-brand">Lyrics</a>
            </div>
            <div class="col-md-3">
                <form  method="post" action="/" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>

    </nav>
    <section class="details-card jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="{{ img }}" class="card-img">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h2 class="card-title">{{ title }}</h2>
                            <p class="card-text">{{ artist }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h5>Language Select</h5>
                        <form method="get" action="" class="form-inline my-2 my-lg-0">
<!--                            <select name="lang" class="custom-select" id="inputGroupSelect01">-->
<!--                                {% for abr,lang in languages %}-->
<!--                                <option {% if abr==current_lang %} selected {%- endif %} value="{{ abr }}">{{ lang }}</option>-->
<!--                                {% endfor %}-->
<!--                            </select>-->
<!--                            <br>-->
                            <input name="langs" id='langs' value='{{ current_lang }}'>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Convert</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="details-card jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                {% for result in results %}
                <div class="col-md-6" id="card">
                    <div class="card-content">
                        <div class="card-img">
                            <h2>{{ result.lang }}</h2>
                        </div>
                        <div class="card-desc">
                            {{ result.text | safe }}
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block end %}
<script>
    var whitelist = JSON.parse('{{ whitelist | safe }}');
    var input = document.querySelector('#langs');
    var settings = {
        enforceWhitelist:true,
        autoComplete:{
            enabled:true
        },
        duplicates:true,
        maxTags:4,
        placeholder:"Input Language Chain",
        whitelist:whitelist,
        originalInputValueFormat: valuesArr => valuesArr.map(item => item.code).join(',')
    }
    var tagify = new Tagify(input,settings);

</script>
{% endblock %}